* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Manrope;
  font-family: "Space Mono", monospace;
   overflow-x: hidden;
   overflow-y: hidden;
}

/* NAVBAR STYLE */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  background-color: #ffffff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.logo {
  margin-right: auto;
}

.logo img {
  height: 48px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  /* font-family: "Manrope", sans-serif; */
  font-family: "Space Mono", monospace;
  font-weight: 500;
  color: #0a46e4;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #3d6dea;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #0a46e4;
  border: none;
  color: white;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: #3d6dea;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #0a46e4;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  color: white;
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: rgb(238, 238, 238);
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

/* NAVBAR STYLE END */

/* HERO SECTION STYLE */

body {
  overflow-x: hidden; /* Hide scrollbars */
}

.hero {
  /* sizing */

  min-height: calc(100vh - 110px);
  max-width: 100vw;

  /* background-image styling */

  background-image: url(./homehero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* flexbox */

  display: flex;
  justify-content: center;
  align-items: top;
  padding: 0px;

  /* Text styles */
  text-align: center;
}

.hero h1 {
  /* font styling */

  font-family: "Manrope", sans-serif;

  font-weight: 600;
}

.hero-section {
  width: 982px;
}
.cta-section {
  width: 982px;
}

.hero a {
  /* button styling */

  background-color: #0a46e4;
  border: none;
  color: white;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 58px;

  display: block;
  text-decoration: none;
  display: inline-block;

  cursor: pointer;

  /* font styling */

  font-family: "Space Mono", monospace;

  font-size: 18px;
  font-weight: 500;
}

.rates {
  height: 36px;
  width: 100%;

  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

/* HERO SECTION STYLE END */

.calculator-form {
  margin-top: 50px;
}

/* Calculator section */

.calculator {
  /* flexbox */

  display: flex;
  justify-content: center;
  align-items: top;

  text-align: center;
}

/* title styling */

.selection h2 {
  font-family: "Manrope", sans-serif;
  font-size: 27px;
  font-weight: 600;
}

/* select dropdown stlying */

.selection select {
  padding: 10px 25px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;

  background-color: #e9f6ff;
  color: #3d6dea;
  border: none;
  border-radius: 10px;
  width: 340px;
  height: 48px;
  padding: 8px, 56px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: semi-bold;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, #3d6dea 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

.selection select selected {
  font-family: "Space mone", monospace;
  background-color: #1f57e6;
}

/* form styling */

input[type="submit"] {
  background-color: #e9f6ff;
  color: #3d6dea;
  padding: 10px 24px;
  margin-top: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-family: "Space mone", monospace;
  font-size: 18px;
  font-weight: 600;
}

input[type="number"],
input[type="date"] {
  font-family: "Space mone", monospace;
  font-size: 18px;
  font-weight: regular;
  width: 100%;
  padding: 1.5vh 2.5vw;
  margin: 1.5vh 0;
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #3d6dea;
  color: white;
}

::placeholder {
  color: white;
}

.hero-section {
  margin-top: 10vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.form-entry {
  margin: auto;
  margin-top: 42px;
  padding: 3vh 6vw;

  border-radius: 10px;
}

footer {
  text-align: center;
  margin: 28px;
}

/* HOME BLOG SECTION STYLING */

.blog {
  width: 100vw;

  background-color: #f6fcff;
}

.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 80vw;

  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all 0.2 linear;
}

.item {
  padding: 50px 20px;
}

.card,
.card__content {
  height: auto;
  width: 350px;
  text-align: left;
  flex: 1 1 200px;
}

.card__content h2,
p {
  font-family: "Manrope", sans-serif;
}

.card__img {
  margin-bottom: 10px;
}

.viewmore {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .viewmore a {
  /* button styling */

  background-color: #0a46e4;
  border: none;
  color: white;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 0px;

  display: block;
  text-decoration: none;
  display: inline-block;

  cursor: pointer;

  /* font styling */

  font-family: "Space Mono", monospace;

  font-size: 18px;
  font-weight: 500;
}

/* HOME BLOG SECTION END */

/* SECOND CTA */
.cta-section {
  margin-top: 10vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.secondcta {
  /* sizing */

  min-height: calc(100vh - 110px);
  max-width: 100vw;

  /* flexbox */

  display: flex;
  justify-content: center;
  align-items: top;
  padding: 0px;

  /* Text styles */
  text-align: center;
}

.cta-section h1 {
  /* font styling */

  font-family: "Manrope", sans-serif;

  font-weight: 600;
}

.cta-section {
  width: 982px;
}

.cta-section a {
  /* button styling */

  background-color: #0a46e4;
  border: none;
  color: white;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 58px;

  display: block;
  text-decoration: none;
  display: inline-block;

  cursor: pointer;

  /* font styling */

  font-family: "Space Mono", monospace;

  font-size: 18px;
  font-weight: 500;
}

.cta-section img {
  width: 350px;
  height: auto;
  border-radius: 300px;
}

/* SECOND CTA END */

/* CALCULATION PAGE */

.result a {
  /* button styling */

  background-color: #0a46e4;
  border: none;
  color: white;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 58px;
  text-decoration: none;
  display: block;

  display: inline-block;

  cursor: pointer;

  /* font styling */

  font-family: "Space Mono", monospace;

  font-size: 18px;
  font-weight: 500;
}

.resultimg img {
  float: right;
  width: 350px;
  height: auto;
  border-radius: 300px;
}

.result h2 {
  font-family: manrope;
  font-weight: 600;
}

/* page 2 styling */

/* h2 {
  margin-top: 96px;
  font-family: "Manrope", sans-serif;
  /* font-size: 36px; */
/* font-weight: bold;
  text-align: center;
} */

.table {
  padding: 60px 0;
  background-color: #f6fcff;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left,
.right {
  background-color: #3d6dea;
  color: white;
  margin: 54px 64px;
  padding: 28px 48px;
  border-radius: 10px;
}

.left th,
.right th {
  font-size: 24px;
  font-weight: 400;
}

.left td,
.right td {
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
}

hr {
  width: 75%;
  size: 1px white;
}

/* div a {
  background-color: #e9f6ff;
  color: #3d6dea;
  padding: 10px 24px;
  margin-top: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;

  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: bold;
} */

.button {
  margin-bottom: 120px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button a {
  /* button styling */

  background-color: #0a46e4;
  border: none;
  color: white;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 58px;
  text-decoration: none;

  cursor: pointer;

  /* font styling */

  font-family: "Space Mono", monospace;

  font-size: 18px;
  font-weight: 500;
}

/* BLOG PAGE STYLE */
.text {
  --font-size: 1rem;
  --line-height: calc(var(--font-size) * var(--ratio));
  --spacing: calc(var(--line-height) / 2);
  --ratio: 1.5;
  margin: 0 0 var(--spacing);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.blogpostpage {
  padding: 120px 10%;
}

.blogpostpage h1 {
  font-family: manrope;
  font-weight: 700;
  font-size: 34px;
}
.blogpostpage p {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 18px;
}

.blogpostpage img {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 18px;
}

/* Responsiveness */

/* mobile */

@media screen and (max-width: 450px) {
  h1 {
    font-size: 34px;
    padding: 0 10px;
  }
  .result h2 {
    font-size: 34px;
    padding: 0 10px;
  }
  .hero a {
    padding: 18px 36px;
  }
  .result a {
    padding: 18px 36px;
  }
  .button a {
    padding: 18px 36px;
  }
  .secondcta a {
    padding: 18px 36px;
  }
  .blog .viewmore a {
    padding: 18px 36px;
  }
  .calhero {
    display: flex;
    flex-direction: row;
    padding: 120px 15%;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .result h2 {
    width: 100%;
  }
}

/* mobile */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 34px;
    padding: 0 10px;
  }
  .result h2 {
    font-size: 34px;
    padding: 0 10px;
  }
  .hero a {
    padding: 14px 10px;
  }
  .button a {
    padding: 14px 10px;
  }
  .result a {
    padding: 14px 10px;
  }
  .secondcta a {
    padding: 14px 10px;
  }
  .blog .viewmore a {
    padding: 14px 10px;
  }

  .calculator {
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .cta-section {
    padding: 10px 10%;
  }
  .calhero {
    display: flex;
    flex-direction: row;
    padding: 120px 10%;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .result h2 {
    width: 100%;
  }
}

/* desktop */
@media screen and (min-width: 801px) {
  h1 {
    font-size: 56px;
  }
  .result h2 {
    font-size: 46px;
  }

  .hero a {
    padding: 16px 28px;
  }
  .button a {
    padding: 16px 28px;
  }
  .result a {
    padding: 16px 28px;
  }
  .secondcta a {
    padding: 16px 28px;
  }
  .blog .viewmore a {
    padding: 16px 28px;
  }

  .hero-section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .cta-section {
    margin-top: 120px;
    margin-bottom: 120px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .calculator {
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 54px;
    margin-right: 54px;
  }
  .calhero {
    display: flex;
    flex-direction: row;
    padding: 120px 15%;
    align-items: stretch;
    width: 100%;
    justify-content: center;
  }
  .result h2 {
    width: 70%;
  }
}
